{% extends "registration/base.html" %}
{% load django_bootstrap5 %}


{% block content %}
<h2 class="container">Sign Up</h2>
<form method="post" class="container">
  {%csrf_token %}
  {%bootstrap_form form%}

  <div class="d-flex ">
    <button type="reset" class="btn btn-primary col">Reset</button>
    <div class="col-8"></div>
    <button type="submit" class="btn btn-primary col">Submit</button>
  </div>

</form>
<hr>
<div class="container"><a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a></div>

{% endblock content %}