{% extends "registration/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<h1>Submit Flag</h1>
<h2>{{ challenge.title }}</h2>
<p>Category :{{ challenge.category }}</p>

<p>Description : {{ challenge.description }}</p>
<p>Points : {{ challenge.point }}</p>
<p>Files : {{ challenge.challenge_file }}</p>


<form method="post" class="container">
  {%csrf_token %} 
  {%bootstrap_form form%} 
  
  {%bootstrap_button button_type="reset" content="Reset"%}
  {%bootstrap_button button_type="submit" content="OK"%} 
</form>

{% comment %} {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %} {% endcomment %}

<a href="{% url 'view_challenge' %}">Back to challenges</a>

{% endblock %}
