{% extends "registration/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Team Ranking{% endblock title%}

{% block content %}

<section class="container">
    <h1>Team Scoreboard</h1>


    <table class="table  table-hover">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Team</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for team_score in team_scores %}
            <tr>
                {% with forloop.counter as rank %}
                <td>{{ rank }}</td>
                <td>{{ team_score.team.name }}</td>
                <td>{{ team_score.score }}</td>
                {% endwith %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}